.advantages {
    margin: 5rem 0;

    .box {
        text-align: center;
    }

    .title {
        color: #ff6981;
        font-size: 2.75rem;
        font-weight: 700;
    }

    .text {
        font-size: 1.15rem;
        margin-top: 1.5rem;
    }
}