.trustSlider {
    margin: 5rem 0;

    .slider > div {
        align-items: center;
    }

    .box {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}